body	{
	margin: auto;
	font-size: 16px;
	background-color: #ECEBE4;
}

div	{
	display: block;
}

@media only screen and (max-width: 1350px) {
	body {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1350px)	{
	body	{
		font-size: 24px;
	}
	
	h1	{
		font-size: 2rem;
	}
}

/*header*/
header	{
	width: 100%;
	height: 5rem;
	display: flex;
	font-family: Verdana;
	font-size: 1rem;
	font-weight: bold;
	justify-content: space-between;
	border-bottom: 2px black solid;
	align-items: center;
	position: fixed;
	background-color: #FFF;
	z-index: 1;
	background-color: MediumAquamarine;
}

header div, header nav {
	margin: 0 2rem;
}

header li {
	list-style: none;
	display: inline-block;
	justify-content: flex-end;
	padding: 0 .625rem;
}

header a	{
	color: #000;
}

header a:hover {
	color: white;
}

.logo	{
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

p.logo	{
	color: MediumAquamarine;
	margin: 1em;
}

.logo img {
	height: 2.35rem;
	margin-left: 1rem;
	padding-right: 1rem;
	border-right: 1px solid MediumAquamarine;
}

.tablet-show	{
	display: none;
}

@media only screen and (max-width: 1350px) {
	header {
		font-size: .875rem;
		position: initial;
	}
	
	header div, header nav {
	margin: 0 1rem;
	}
	
	.tablet-show	{
		display: initial;
	}
}
/*mobile header*/
@media only screen and (max-width: 650px) {
	/*I want to make a menu button that hides/shows the site menu when clicked on. Ideally, it will slide to the left from the edge*/
}

/*main content*/
main{
	display: flex;
	justify-content: center;
	position: relative;
	top: 6.25rem;
	margin-bottom: 9.375rem;
}
/*
main div	{
	border: 1px solid black;
}
*/
.column	{
	display: flex;
	flex-direction: column;
	margin-right: 2rem;
	
}

.column:first-child {
	margin-left: 2rem;
}

.column:last-child {
	margin-right: 0;
}

.column.large	{
	width: 50%;
	max-width: 40rem;
}

.column.medium	{
	width: 25%;
	max-width: 20rem;
}

.column.small	{
	width: 20%;
	max-width: 15rem;
}

.story	{
	font-family: Georgia;
	font-size: 1rem;
	color: #000;
	display: flex;
}

/*Titles on top of Article pictures*/
.imgText	{
	color: white;
	font-family: Georgia;
	font-size: 1.75rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-content: center;
}

#leadstory	{
	max-width: 40rem;
}

.leadImg	{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	background-repeat: no-repeat;
	height: 18.75rem;
	display: flex;
	align-items: center;
	border-radius: 5px;
}



.leadImg p	{
	font-size: 175%;
	margin-left: 1rem;
	width: 85%;
}

/*Sub-articles - Column 1*/
.subCol	{
	display: flex;
	flex-direction: column;
	width: 45%;
}

.stories	{
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	margin-right: 0;
}

.rightCol1, .leftCol1	{
	min-height: 15rem;
}

div.storyImg2.leftCol1	{
	margin-top: 2rem;
	height: 18.75rem;
	text-align: center;
	display: flex;
	align-items: center;
}

div.storyImg3.rightCol1	{
	margin-top: 2rem;
	height: 18.75rem;
	text-align: center;
	display: flex;
	align-items: center;
}

.cookieBite	{
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png');
	height: 15.625rem;
	border-radius: 5px;
}

.catCEO	{
	height: 18.75rem;
	display: flex;
	align-items: center;
}

.catCEO p	{
	text-align: center;
	display: flex;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
}


.bitelinks	{
	border: 1px solid white;
}

.bites h2	{
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;
}

.bites p	{
	list-style-type: none;
	display: block;
	border-top: 1px solid black;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: .75rem;
	color: DimGray;
	margin:0;
}

.bitelinks a	{
	display: block;
	padding: .625rem;
}

.bitelinks a:hover	{
	background-color: MediumAquamarine;
}

.bitelinks a:active	{
	color: chartreuse;
}

@media only screen and (max-width: 1350px)	{
	main	{
		position: initial;
		margin-top: 2rem;
	}
	
	.subCol	{
		width: 47%;
	}
	
	.column	{
		margin-right: 3.125rem;
	}
		
	.tablet-hide	{
		display: none;
	}
	
}
@media only screen and (max-width: 950px) {
	
}

@media only screen and (max-width: 650px) {
	main	{
		flex-direction: column;
		width: 100%;
		margin: 1rem auto 3rem;
	}
	
	.story	{
		width: 95%;
		margin: 0 auto;
	}
	
	
	.leadImg p	{
		font-size: 1.85rem;
	}
	
	.storyTitle	{
		font-size: 1.45rem;
	}
	
	.imgText	{
		font-size: 1.75rem;
	}
	
	.column	{
		margin: 0;
	}
	
	.subCol	{
		width: 50%;
	}
	
	.column:first-child	{
		margin: 0;
	}
	
	.column.large	{
		width: 100%;
		max-width: initial;
	}

	.column.medium	{
		width: 100%;
		max-width: initial;
	}
	
	.mobile	{
		width: 85%;
		margin: 0 auto;
		min-height: 18rem;
	}
	
	.leftCol1 .imgText, .rightCol1 .imgText	{
		width: 85%;
		margin: 0 auto;
	}
	
	.storyImg2, .storyImg3	{
		width: 100%;
	}
}

/*footer styling*/
footer	{
	display: flex;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: .75rem;
	height: 15rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: 2px black solid;
	
}

.info	{
	display: flex;
	align-items: center;
}

footer h3	{
	font-family: Georgia;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	padding-right: 1.5rem;
	border-right: 2px solid white;
	display: inline-block;
}

footer li	{
	list-style-type: none;
	display: inline-block;
	padding: 0 .75rem;
}

footer p	{
	display: block;
}

footer a	{
	color: black;
}

footer a:hover	{
	color: white;
}

@media only screen and (max-width: 1350px)	{
	footer {
		height: 10rem;
	}
}

@media only screen and (max-width: 950px) {
	footer {
		font-size: 1.3rem;
	}
}	