body	{
}
/*header*/
.logo	{
	display: flex;
}

p.logo	{
	color: MediumAquamarine;
	margin: 1em;
}

div	{
	margin: 0px;
	padding: 0px;
}

header	{
	width: 100%;
	height: 80px;
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	border-bottom: 1px black solid;
	align-items: center;
	position: fixed;
	background-color: #FFF;
	z-index: 1;
}

header li {
	list-style: none;
	display: inline-block;
	justify-content: flex-end;
	padding: 0px 10px;
}

header a	{
	color: #000;
}

/*main content*/

main{
	display: flex;
	justify-content: center;
	position: relative;
	top: 90px;
}

main div	{
	border: 1px solid black;
}

.column	{
	display: flex;
	flex-direction: column;
	margin-right: 32px;
	
}

.column.large	{
	width: 630px;
}

.column.medium	{
	width: 300px;
}

.column.small	{
	width: 240px;
}

.storyTitle	{
	
}

.story	{
	font-family: Georgia;
	font-size: 17px;
	color: #000;
}

/*Titles on top of Article pictures*/
.imgText	{
	color: white;
	font-family: Georgia;
	font-size: 30px;
	font-weight: bold;
}

.leadImg	{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	height: 300px;
	display: flex;
}

.leadImg .imgText	{
	font-size: 40px;
	
}

