body	{
	margin: auto;
}

div	{
	display: block;
}
/*header*/
.logo	{
	display: flex;
	align-items: center;
}

p.logo	{
	color: MediumAquamarine;
	margin: 1em;
}

header	{
	width: 100%;
	height: 80px;
	display: flex;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	border-bottom: 1px black solid;
	align-items: center;
	position: fixed;
	background-color: #FFF;
	z-index: 1;
}

header li {
	list-style: none;
	display: inline-block;
	justify-content: flex-end;
	padding: 0px 10px;
}

header a	{
	color: #000;
}

.small-show	{
	display: none;
}

/*main content*/

main{
	display: flex;
	justify-content: center;
	position: relative;
	top: 100px;
	margin-bottom: 150px;
	
}
/*
main div	{
	border: 1px solid black;
}
*/
.column	{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	
}

.column:first-child {
	margin-left: 30px;
}

.column:last-child {
	margin-right: 0;
}

.column.large	{
	width: 50%;
}

.column.medium	{
	width: 25%;
}

.column.small	{
	width: 20%;
}

@media only screen and (max-width: 1350px) {
	.column	{
		margin-right: 50px;
	}
}

.story	{
	font-family: Georgia;
	font-size: 17px;
	color: #000;
	display: flex;
}

/*Titles on top of Article pictures*/
.imgText	{
	color: white;
	font-family: Georgia;
	font-size: 30px;
	font-weight: bold;
}

.leadImg	{
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	height: 300px;
	display: flex;
	align-items: center;
}

.leadImg .imgText	{
	font-size: 40px;
	padding-left: 15px;
}
/*Sub-articles - Column 1*/
.subCol	{
	flex-direction: column;
	width: 300px;
}

.stories	{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-right: 0px;
}

div.storyImg2.leftCol1	{
	margin-top: 30px;
	height: 299px;
	text-align: center;
	display: flex;
	align-items: center;
}

div.storyImg3.rightCol1	{
	margin-top: 30px;
	height: 299px;
	text-align: center;
	display: flex;
	align-items: center;
}

.cookieBite	{
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png');
	height: 250px;
}

.catCEO	{
	height: 300px;
	display: flex;
	align-items: center;
}

.catCEO p	{
	text-align: center;
	display: flex;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.bitelinks	{
	border: 1px solid white;
}

.bites h2	{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.bites p	{
	list-style-type: none;
	display: block;
	border-top: 1px solid black;
	background-color: WhiteSmoke;
	font-family: Verdana;
	font-size: 12px;
	color: DimGray;
	margin:0;
	width: 218px;
}

.bitelinks a	{
	display: block;
	padding: 10px;
}

.bitelinks a:hover	{
	background-color: gray;
}

.bitelinks a:active	{
	color: chartreuse;
}
@media only screen and (max-width: 1350px)	{
	.small-hide	{
		display: none;
	}
	
	.small-show	{
		display: initial;
	}
}

/*footer styling*/
footer	{
	display: flex;
	background-color: MediumAquamarine;
	margin: auto;
	font-family: Verdana;
	font-size: 12px;
	height: 300px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.info	{
	display: flex;
	align-items: center;
}

footer h3	{
	font-family: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding-right: 25px;
	border-right: 2px solid white;
	display: inline-block;
}

footer li	{
	list-style-type: none;
	display: inline-block;
	padding: 0px 10px;
}

footer p	{
	display: block;
}

footer a	{
	color: black;
}